{% load crispy_forms_tags %}

<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    </head>

    <body>
        <!-- display username if logged in -->
        {{ user.username }}

        <div class="container">
            <h1>{{ header }}</h1>
            <form method="POST">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </body>
</html>